twilio: # Twilio gateway configuration
  accountId: dddd #fake
  accountToken: aaaa #fake
  numbers: # Numbers allocated in Twilio
    - "+121020222" #fake
    # - 1ST_NUMBER
    # - 2ND_NUMBER
    # - 3RD_NUMBER
    # - # ...
    # - NTH_NUMBER
  messagingServicesId: 
  localDomain: cybergate.lk # Domain Twilio can connect back to for calls. Should be domain of your service.

push:
  queueSize: 200 # Size of push pending queue

  #redphone:
  #authKey: # Deprecated

turn: # TURN server configuration
  secret: pVZD0vNdyZ4XLdND7BaiG7kXjY10 # TURN server secret
  uris:
    - stun:turn.cybergate.lk:3478
    - stun:turn.cybergate.lk:5349
    - turn:turn.cybergate.lk:5349?transport=udp
    - turn:turn.cybergate.lk:3478?transport=udp

cache: # Redis server configuration for cache cluster
  url: "redis://redis:6379/1"
  replicaUrls:
    - "redis://redis:6379/2"
directory:
  redis: # Redis server configuration for directory cluster
    url: "redis://redis:6379/3"
    replicaUrls:
      - "redis://redis:6379/4"
  client: # Configuration for interfacing with Contact Discovery Service cluster
    userAuthenticationTokenSharedSecret: 30d5 # hex-encoded secret shared with CDS used to generate auth tokens for Signal users
    userAuthenticationTokenUserIdSecret: 23eefa # hex-encoded secret shared among Signal-Servers to obscure user phone numbers from CDS
  sqs:
    accessKey: bcd2c0740e2a273aaf7036eff7c10acb      # AWS SQS accessKey
    accessSecret: 0aff3c92d9afb26c81423c8d588e6549   # AWS SQS accessSecret
    queueUrl:  sqs://sqs:9324      # AWS SQS queue url
  server:
    replicationUrl:  http://127.0.0.1      # CDS replication endpoint base url
    replicationPassword: pVZD0vNdyZ4XLdND7BaiG7kXjY10         # CDS replication endpoint password
    replicationCaCertificate: CA_CERT      # CDS replication endpoint TLS certificate trust root
    #reconciliationChunkSize:       # CDS reconciliation chunk size
    #reconciliationChunkIntervalMs: # CDS reconciliation chunk interval, in milliseconds

messageCache: # Redis server configuration for message store cache
  redis:
    url: "redis://redis:6379/5"
    replicaUrls:
      - "redis://redis:6379/6"

messageStore: # Postgresql database configuration for message store
  driverClass: org.postgresql.Driver
  user: signal
  password: CHANGE_ME
  url: "jdbc:postgresql://signaldb:5432/messagedb"
  properties:
    charSet: UTF-8

abuseDatabase: # Postgresql database configuration for message store
  driverClass: org.postgresql.Driver
  user: signal
  password: CHANGE_ME
  url: "jdbc:postgresql://signaldb:5432/abusedb"
  properties:
    charSet: UTF-8
    
attachments: # AWS S3 configuration
  accessKey: MINIO_ACCESS_KEY
  accessSecret: MINIO_SECRET_KEY
  bucket: signal-attachments
  region: us-east-1

profiles: # AWS S3 configuration
  accessKey: MINIO_ACCESS_KEY
  accessSecret: MINIO_SECRET_KEY
  bucket: signal-profiles
  region: us-east-1

database: # Postgresql database configuration
  driverClass: org.postgresql.Driver
  user: signal
  password: CHANGE_ME
  url: "jdbc:postgresql://signaldb:5432/accountdb"
  properties:
    charSet: UTF-8

apn: # Apple Push Notifications configuration
  bundleId: com.cyber.user
  pushCertificate: "-----BEGIN CERTIFICATE-----
MIICuzCCAmGgAwIBAgIUGE1Q11+HfN2/HUy82POZcbn8hhQwCgYIKoZIzj0EAwIw
gbIxCzAJBgNVBAYTAkxLMRAwDgYDVQQIDAdXZXN0ZXJuMREwDwYDVQQHDAhOdWdl
Z29kYTErMCkGA1UECgwiQ3liZXJnYXRlIFNlcnZpY2VzIFByaXZhdGUgTGltaXRl
ZDELMAkGA1UECwwCSVQxHzAdBgNVBAMMFnNpZ25hbHNydi5jeWJlcmdhdGUubGsx
IzAhBgkqhkiG9w0BCQEWFGNnYWRtaW5AY3liZXJnYXRlLmxrMB4XDTE5MTIxMTE2
MDcxN1oXDTI5MTIwODE2MDcxN1owgbIxCzAJBgNVBAYTAkxLMRAwDgYDVQQIDAdX
ZXN0ZXJuMREwDwYDVQQHDAhOdWdlZ29kYTErMCkGA1UECgwiQ3liZXJnYXRlIFNl
cnZpY2VzIFByaXZhdGUgTGltaXRlZDELMAkGA1UECwwCSVQxHzAdBgNVBAMMFnNp
Z25hbHNydi5jeWJlcmdhdGUubGsxIzAhBgkqhkiG9w0BCQEWFGNnYWRtaW5AY3li
ZXJnYXRlLmxrMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEss/xZG79O+P/Uq5Z
rGkoUgHgQNTasHQmKxSVQ0rUNMJ/V17g3wPdU9L6F4i0fmlSrTsNdqE1WRmhiBoS
F/7rUKNTMFEwHQYDVR0OBBYEFJY4NBfGZjbe+ufrtFuGfjbdju1sMB8GA1UdIwQY
MBaAFJY4NBfGZjbe+ufrtFuGfjbdju1sMA8GA1UdEwEB/wQFMAMBAf8wCgYIKoZI
zj0EAwIDSAAwRQIhAO6ok2XJ9mfWEJesUW7nSdyWfcxpnmnXalEe6ldvSPJ+AiBo
n451G4IfUwoN1S0XD32mBCHv7MsIaFWaQNNgjG+a1w==
-----END CERTIFICATE-----"
  pushKey: "-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgTUe5QCOsWp2LFaeR
WE2QqsILX8O/5FEdd99QzKfBx4ShRANCAASyz/Fkbv074/9SrlmsaShSAeBA1Nqw
dCYrFJVDStQ0wn9XXuDfA91T0voXiLR+aVKtOw12oTVZGaGIGhIX/utQ
-----END PRIVATE KEY-----"
"

gcm: # GCM Configuration
  senderId: 412918270132 #fake
  apiKey: AIzaSyC8gPzceq2SPebZZWaD3I9OeqePyD9CUqk #fake

accountDatabaseCrawler:
  chunkSize: 100
  chunkIntervalMs: 8000

recaptcha:
  secret: 666666

pushScheduler:
  url: "redis://redis:6379/7"
  replicaUrls: 
    - "redis://redis:6379/8"

unidentifiedDelivery: 
  privateKey: bwM4kTH6lfRzs1J/i0ZDPXz47H3tVgN8Y8aD5XBS4IU=
  expiresDays: 365
  certificate: bwM4kTH6lfRzs1J/i0ZDPXz47H3tVgN8Y8aD5XBS4IU=
  
voiceVerification:
  url: "cybergate.lk/voice"
  locales:
    - en
